Description=UPnP network service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/UPnP_service start
ExecStop=/usr/local/sbin/UPnP_service stop
ExecReload=/usr/local/sbin/UPnP_service restart

[Install]
WantedBy=multi-user.target
